.clearfix() {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}

.clearfix {
    .clearfix();
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 60px;
    padding: 50px 50px;
}

.main-field {
    margin: 30px auto;
}

.my-alert {
    margin: 10px 10px;
    max-width: 500px;
}