[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/soar_lin (SoarLin)
[access "refs/for/refs/*"]
	read = group user/soar_lin (SoarLin)
	push = group user/soar_lin (SoarLin)
	label-Code-Review = -2..+2 group user/soar_lin (SoarLin)
	label-Verified = -1..+1 group user/soar_lin (SoarLin)
	rebase = group user/soar_lin (SoarLin)
	removeReviewer = group user/soar_lin (SoarLin)
	submit = group user/soar_lin (SoarLin)
[access "refs/heads/*"]
	read = group user/soar_lin (SoarLin)
	create = group user/soar_lin (SoarLin)
	push = +force group user/soar_lin (SoarLin)
	pushMerge = group user/soar_lin (SoarLin)
[access "refs/tags/*"]
	push = +force group user/soar_lin (SoarLin)
	pushTag = group user/soar_lin (SoarLin)
	pushSignedTag = group user/soar_lin (SoarLin)
